input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #56C7E1;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #6E45E1;
  }
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #56C7E1, #6E45E1); /* gradient background */
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #56C7E1;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #6E45E1;
  }
  .additional-links {
    text-align: center;
    margin-top: 20px;
  }
  
  .additional-links a {
    color: #56C7E1;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9em;
  }
  
  .additional-links a:hover {
    text-decoration: underline;
  }