/* styles.css */
body {
    margin: 0;
    padding: 0;
    background: url('../images/img1.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white; /* Ensuring text is visible on a dark background */
  }
  
  .container-fluid {
    position: relative;
    z-index: 2; /* Brings the content above the overlay */
  }

  .navbar-default {
    background-color: #56C7E1; /* Light blue, giving a calm and clean look */
    border-color: #50BFC3; /* Slightly darker shade for the border */
    font-family: Arial, sans-serif;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: white; /* White text color */
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #CCEFF5; /* Lighter blue on hover/focus for better interaction feedback */
    background-color: transparent;
  }
  
  .navbar-default .navbar-brand {
    color: white;
  }
  
  .navbar-toggle {
    background-color: #50BFC3; /* Matches the border color */
  }
  
  .icon-bar {
    background-color: white;
  }
  
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  