<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration - MediMatch</title>
  <link rel="stylesheet" href="static/styles/roles.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Register</h1>
      <div class="user-type-selection">
        <button class="user-type-button" onclick="window.location.href='./doctor-registration.html'">Register as Doctor</button>
        <button class="user-type-button" onclick="window.location.href='./patient-registration.html'">Register as Patient</button>
      </div>
    </div>
  </div>
</body>
</html>
